header, nav, main, footer {
        max-width: 71.25rem;
        margin:auto;
}

/*----------- BODY --------------*/



/*----------- HEADER --------------*/



/*----------- NAVIGATION --------------*/



/*----------- MAIN --------------*/

div.fruitGallery figure {
        flex-basis: 21%;
}

/*----------- FOOTER --------------*/
    
