header, nav, main, footer {
        max-width: 60rem;
        margin:auto;
}

/*----------- BODY --------------*/



/*----------- HEADER --------------*/

div#headerWrapper {
        background-image: url(/Module4/images/headerRepeat.png);
        background-repeat: repeat;
}

header {
        background-image: url(/Module4/images/headerLarge.jpg);
}

/*----------- NAVIGATION --------------*/



/*----------- MAIN --------------*/

main figure { width: 33%;}

/*----------- FOOTER --------------*/
    
