/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}

/*----------- apply a natural box layout model to all elements --------------*/
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }


/*----------- BODY --------------*/
body {
    font-size: 16px;
    font-family: Verdana, sans-serif;
}


/*----------- HEADER --------------*/
header {
    padding: .5rem 2%;
    background-color: $primaryColor;
    color: whitesmoke;
}
header h1 {margin: 0;}
header h2 {margin: 0; font-weight: normal;}

/*----------- NAVIGATION --------------*/
nav {
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 999;
    background-color: $primaryColor;
    ul {
        display: flex;
        padding: 0;
        li {
            display: block;
            width: 100%; 
            flex-basis: 33.3%;
            a {
                display: block;
                color: #eee;
                border-left: 1px solid #777;
                padding: .5rem 0;
                text-decoration: none;
                font-size: .9rem;
                text-align: center;
                width: 100%;
                text-transform: uppercase;
                ion-icon {
                    width: 100%;
                    font-size: 1.5rem;
                }
            }
        }
    }
}
nav ul li:first-child a {border-left: none;}

nav ul li a:hover {
    background-color: #eee;
    color: #333;
}
nav ul li.active a {
    background-color: #1488b9;
    color: #fff;
}
/*----------- MAIN --------------*/
main {
    padding: 0 2%;
    min-height: 10rem;
}

div#myCards {
    display: grid;
    grid-template-columns: 1fr;
}

figure {
    position: relative;
    margin: 0;
    width: 100%;
    img {width: 100%;}
    figcaption {
        position: absolute;
        bottom: 0;
        width: 100%;
        background-color: rgba(0,0,0,0.4);
        color: white;
        padding: .3rem .2vh;
    }
}

section {
    margin: 2%;
    background-color: rgb(118, 194, 230);
}

section div {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

span ion-icon {
    font-size: 1.6rem;
    float: left;
    margin-top: 1em;
}

span p {
    padding-left: 1.8rem;
}

/*----------- FOOTER --------------*/
footer {
    padding: .5rem 2%;
    text-align: center;
    min-height: 6em;
    color: white;
}



/*----- Clearfix: Force an Element not to collapse -----*/
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}