/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}

/*----------- apply a natural box layout model to all elements --------------*/
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

/* body rules */
html, body {
    overflow-x: hidden;
}

body {
    font-family: $fontFamily;
    font-weight: $regularWeight;
    font-size: 16px;
} 

header {
    background-color: $primaryColor;
    padding: 1rem $gutter;
    h1 {
        margin: 0; 
        font-size: 2rem;
        font-weight: $heavyWeight;
    } // end of h1
    h2{
        margin: 0; 
        font-size: 1.2rem; 
        font-weight: $regularWeight;
    } // end of h2
    .search {
        width: 100%;
        position: relative;
        display: flex;
      }
      
      .searchTerm {
        width: 100%;
        border: 3px solid #00B4CC;
        border-right: none;
        padding: 5px;
        height: 36px;
        border-radius: 5px 0 0 5px;
        outline: none;
        color: #9DBFAF;
      }
      
      .searchTerm:focus{
        color: #00B4CC;
      }
      
      .searchButton {
        width: 40px;
        height: 36px;
        border: 1px solid #00B4CC;
        background: #00B4CC;
        text-align: center;
        color: #fff;
        border-radius: 0 5px 5px 0;
        cursor: pointer;
        font-size: 20px;
      }
      
      /*Resize the wrap to see the search bar change!*/
      .wrap{
          float: right;
        width: 30%;
    }
} // end of header

nav {background-color: #111;
    ul {margin:0; 
        padding: 0;
        list-style-type: none;
        li { 
            width: 25%; 
            float: left;
        }
    }
    
    li.active {background-color: #333}
    a {
        display: block;
        padding: .8rem 0; /*44px min*/
        color: #eee;
        text-align: center;
        text-decoration: none;
    } // end of a tag
    a:hover {background-color: #444;}
} // end of nav

main {
    display: block;

    //SASS LOOP FOR COLUMNS
    div.flexed {display: flex; flex-wrap: wrap; padding: 0;}

    .column {padding: 0 $gutter;}

    @for $i from 0 through 12 {
            $w:($i / 12) * 100%;
            .small-#{$i} {flex-basis: $w;}	
    } // end loop

    .attorney-card {
        background-color: aqua;
        text-align: center;
    }

    figure {
        margin: 0;
    }

    button {
        background-color: blue;
        color: white;
        border: none;
        height: 2rem;
        margin: 1rem;
        border-radius: 6px;
    }

    .action-button {
        background-color: aqua;
        text-align: center;
        margin: $gutter * 2;
    }

    .blog-card {
        background-color: aqua;
    }

    .img-fluid {
        max-width: 100%;
        height: auto;
    }

    .faq {
        background-color: aqua;
        // margin: $gutter;
    }

}// end of main


footer {
    background-color: $primaryColor;
    padding: 1rem $gutter;
    display: flex;
}

footer a {
flex-basis: 25%;
text-align: center;
color: white;
font-size: 3rem;
}

footer a:hover {
color: blue;
}


/*----- Clearfix: Force an Element not to collapse -----*/
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}