
    header, nav, main, footer {
        max-width: 1200px;
        margin: auto;
    }
    
    nav ul {padding-left: $gutter;}
    nav li {width:auto;}
    nav a {padding: .5rem 1rem;}
    nav ul li {width: auto;}
    nav ul li:first-child a {border-left: 1px solid #777;}
    nav ul li:last-child a {border-right: 1px solid #777;}
    nav ul li a{padding: .5rem 1rem;}
    
    picture.founder-image { width: 50%;}
    
    div.news {column-count: 1;}
